.example-spacer {
  flex: 1 1 auto;
}

.container {
  max-width: 1442px;
  margin: 0 auto !important;
}

.mat-table-container {
  margin: 20px 0;
  padding: 0 2rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
